<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.homi.rbac.mapper.SysMenuMapper">

    <resultMap type="SysMenu" id="SysMenuResult">
        <id property="id" column="id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="menuType" column="menu_type"/>
        <result property="visible" column="visible"/>
        <result property="status" column="status"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <update id="updateMenuById" parameterType="com.yy.homi.rbac.domain.entity.SysMenu">
        UPDATE sys_menu
        <set>
            <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="path != null">path = #{path},</if>
            <if test="component != null">component = #{component},</if>
            <if test="menuType != null and menuType != ''">menu_type = #{menuType},</if>
            <if test="visible != null">visible = #{visible},</if>
            <if test="status != null">status = #{status},</if>
            <if test="perms != null">perms = #{perms},</if>
            <if test="icon != null and icon != ''">icon = #{icon},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateStatusById">
        update sys_menu
        set status = #{status}
        where id = #{menuId}
    </update>

    <update id="updateVisibleById">
        update sys_menu
        set visible = #{visible}
        where id = #{menuId}
    </update>

    <update id="updateStatusByIds">
        update sys_menu set status = #{status}
        where id in
        <foreach collection="menuIds" item="menuId" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </update>

    <select id="selectMenuList" resultType="com.yy.homi.rbac.domain.entity.SysMenu">
        select * from sys_menu
        <where>
            <if test="menuName !=null and menuName != ''">
                and menu_name like concat('%',#{menuName},'%')
            </if>
            <if test="menuType != null and menuType != ''">
                and menu_type = #{menuType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="visible != null">
                and visible = #{visible}
            </if>
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectMenuByNameWithPid" resultType="com.yy.homi.rbac.domain.entity.SysMenu">
        select *
        from sys_menu
        where menu_name = #{menuName}
          and parent_id = #{parentId} limit 1
    </select>


    <select id="hasChildByMenuId" resultType="java.lang.Integer">
        select count(1)
        from sys_menu
        where parent_id = #{menuId}
    </select>


    <select id="selectVisibleMenusByUserId" resultType="com.yy.homi.rbac.domain.entity.SysMenu">
        select * from sys_menu m
        left join sys_role_menu rm on m.id = rm.menu_id
        left join sys_user_role ur on rm.role_id = ur.role_id
        left join sys_role r on r.id = rm.role_id
        where ur.user_id = #{userId}
        and m.visible = 0
        and m.menu_type in ('M','C')
        and r.status = 0
    </select>

    <select id="selectMenusByParentIdAndStatus" resultType="com.yy.homi.rbac.domain.entity.SysMenu">
        select * from sys_menu where parent_id = #{parentId} and status = #{status}
    </select>


</mapper>