<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.homi.rbac.mapper.SysUserRoleMapper">

    <insert id="insertBatch">
        INSERT INTO sys_user_role (user_id, role_id)
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>


    <delete id="deleteByUserIds">
        delete from sys_user_role where user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="countByRelation" resultType="java.lang.Integer">
        select count(1)
        from sys_user_role
        where user_id = #{userId}
          and role_id = #{roleId}
    </select>

    <select id="selectByUserIds" resultType="com.yy.homi.rbac.domain.entity.SysUserRole">
        select * from sys_user_role where user_id in
        <foreach collection="userIds" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </select>
</mapper>