<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.homi.rbac.mapper.SysUserMapper">

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="id"           column="id"            />
        <result property="userName"     column="user_name"     />
        <result property="nickName"     column="nick_name"     />
        <result property="password"     column="password"      />
        <result property="status"       column="status"        />
        <result property="email"        column="email"         />
        <result property="phonenumber"  column="phonenumber"   />
        <result property="sex"          column="sex"           />
        <result property="avatar"       column="avatar"        />
        <result property="createBy"     column="create_by"     />
        <result property="createTime"   column="create_time"   />
        <result property="updateBy"     column="update_by"     />
        <result property="updateTime"   column="update_time"   />
        <result property="remark"       column="remark"        />
    </resultMap>

    <select id="selectByUserNameNeId" parameterType="String" resultMap="SysUserResult">
        select * from sys_user where user_name = #{userName} and id != #{userId}
    </select>

    <select id="selectUserList" resultMap="SysUserResult">
        SELECT * FROM sys_user
        <where>
            <if test="userName != null and userName != ''">
                AND user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                AND phonenumber LIKE CONCAT('%', #{phonenumber}, '%')
            </if>
            <if test="email != null and email != ''">
                AND phonenumber LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="beginTime != null">
                AND create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                AND create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>


    <select id="selectUserPermissionsById" resultType="java.lang.String">
        -- 1. 先查角色标识 (role_key)
        SELECT r.role_key
        FROM sys_role r
                 LEFT JOIN sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId} AND r.status = 0 AND r.del_flag = 0

        UNION -- 合并结果集并去重

        -- 2. 再查具体权限标识 (perms)
        SELECT m.perms
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON m.id = rm.menu_id
                 LEFT JOIN sys_user_role ur ON rm.role_id = ur.role_id
        WHERE ur.user_id = #{userId} AND m.perms IS NOT NULL AND m.perms != ''
    </select>


</mapper>