<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.homi.file.mapper.SysFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.homi.file.domain.entity.SysFile">
        <!-- 主键 -->
        <id column="id" property="id"/>
        <!-- 普通字段 -->
        <result column="file_name" property="fileName"/>
        <result column="file_hash" property="fileHash"/>
        <result column="object_name" property="objectName"/>
        <result column="bucket_name" property="bucketName"/>
        <result column="url" property="url"/>
        <result column="extension" property="extension"/>
        <result column="size" property="size"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        file_name,
        file_hash,
        object_name,
        bucket_name,
        url,
        extension,
        size,
        create_by,
        create_time,
        del_flag
    </sql>

    <select id="selectInHashExtList" resultType="com.yy.homi.file.domain.entity.SysFile">
        select * from sys_file
        <where>
            <foreach collection="hashExtList" item="item" separator="OR">
                <bind name="hash" value="item.substring(0, item.lastIndexOf('-'))" />
                <bind name="ext" value="item.substring(item.lastIndexOf('-') + 1)" />
                (file_hash = #{hash} AND extension = #{ext})
            </foreach>
        </where>
    </select>

</mapper>