<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.homi.hotel.mapper.HotelFacilityMapper">

    <resultMap id="BaseResultMap" type="com.yy.homi.hotel.domain.entity.HotelFacility">
        <id column="id" property="id" />
        <result column="hotel_id" property="hotelId" />
        <result column="hotel_facility_type_id" property="hotelFacilityTypeId" />
        <result column="name" property="name" />
        <result column="icon" property="icon" />
        <result column="charge_standard" property="chargeStandard" />
        <result column="charge_standard_desc" property="chargeStandardDesc" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id, hotel_id, hotel_facility_type_id, name, icon, charge_standard, charge_standard_desc, status, remark
    </sql>

</mapper>
