<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.homi.hotel.mapper.UserActionLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yy.homi.hotel.domain.entity.UserActionLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="hotel_id" property="hotelId" />
        <result column="hotel_name" property="hotelName" />
        <result column="star" property="star" />
        <result column="room_id" property="roomId" />
        <result column="room_name" property="roomName" />
        <result column="bed_type" property="bedType" />
        <result column="show_price" property="showPrice" />
        <result column="action_type" property="actionType" />
        <result column="action_weight" property="actionWeight" />
        <result column="city_id" property="cityId" />
        <result column="hygiene_score" property="hygieneScore" />
        <result column="device_score" property="deviceScore" />
        <result column="environment_score" property="environmentScore" />
        <result column="service_score" property="serviceScore" />
        <result column="city_name" property="cityName" />
        <result column="comment_score" property="commentScore" />
        <result column="max_occupancy" property="maxOccupancy" />
        <result column="min_area" property="minArea" />
        <result column="max_area" property="maxArea" />
        <result column="location" property="location" />
        <result column="hotel_facilities" property="hotelFacilities" />
        <result column="room_facilities" property="roomFacilities" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="countViewsByHotelIds" resultType="map">
        SELECT
        hotel_id AS hotelId,
        COUNT(*) AS viewCount
        FROM
        user_action_log
        <where>
            AND action_type = 'VIEW_DETAIL'

            <if test="hotelIds != null and hotelIds.size() > 0">
                AND hotel_id IN
                <foreach item="id" collection="hotelIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        GROUP BY
        hotel_id
    </select>



</mapper>